@model ServiceRegistry.Management.ViewModels.ServiceListComponentViewModel

@if (Model.ErrorMessage != null)
{
	<div class="alert-danger">@Model.ErrorMessage</div>
}
else
{
	<table class="table table-bordered">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>View</th>
			<th>Providers</th>
			<th>Delete</th>
		</tr>
		@foreach (var service in Model.Services)
		{
			<tr>
				<td>@service.Id</td>
				<td>@service.Name</td>
				<td><a href="@Url.Action("EditService", "Service", new { id = service.Id })">Edit</a></td>
				<td><a href="@Url.Action("Providers", "Service", new { id = service.Id })">Providers</a></td>
				<td><a href="@Url.Action("DeleteService", "Service", new { id = service.Id })">Delete</a></td>
			</tr>
		}
	</table>
}